/*=======================Login Window==================================*/

/* 主窗口背景色 */
QWidget#LoginClass {
    background-color: #f2f2f2;
}

/* 标题栏背景颜色 */
QWidget#widgetWinTitle {
    background-color: #0da2af;
}

QWidget#widgetWinTitle2 {
    background-color: #0da2af;
}

/* 标题栏中的标签名称 */
QLabel#labelWinTitle {
    color: #FFFFFF;
    font-family: '微软雅黑';
    font-size: 22px;
    font-weight: bold;
} 

QLabel#labelWinTitle2 {
    color: #FFFFFF;
    font-family: '微软雅黑';
    font-size: 22px;
    font-weight: bold;
} 

/* 按钮的背景色 */
QPushButton#btnMenu, QPushButton#btnMin, QPushButton#btnClose, 
QPushButton#btnClose2, QPushButton#btnMin2 {
    background-color: #0da2af;
}

/*登录按钮样式*/
QPushButton#btnLogin, QPushButton#btnOk, QPushButton#btnCancel {
    background-color: #0da2af;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
}

QPushButton#btnLogin:hover, QPushButton#btnOk:hover, QPushButton#btsnCancel:hover {
    background-color: #E74C3C;
}

QPushButton#btnLogin:pressed {
    background-color: #1c639a;
}

QPushButton#btnClose:hover, QPushButton#btnClose2:hover {
    background-color: #E74C3C;
}

QPushButton#btnWinMin:hover{
    background-color: #7b7878;
}


/* 输入框样式 */
QLineEdit#lineEditUser, QLineEdit#lineEditPasswd {
    background-color: #ECF0F1;
    border: 3px solid #62dce7;
    color: #2C3E50;
    border-radius: 5px;
    padding: 5px;
}

IpLineEdit#lineEditServerAddress,
QLineEdit#lineEditMsgServerPort, 
QLineEdit#lineEditFileServerPort {
    background-color: #f2f2f2;
    border: 2px solid #62dce7;
    color: #2C3E50;
    border-radius: 5px;
    padding: 5px;
    font-size: 12pt;
}


/*=======================Main Window======================================*/

/* QWidget#widgetStackControlButtons,
QWidget#widgetBottomTool {
    background-color: #0da2af;
}

QWidget#widget_9 {
    background-color: #76d4dd;
    border: 2px solid #62dce7;
}

QToolButton#toolButtonFriends,
QToolButton#toolButtonGroup,
QToolButton#toolButtonSession,
QToolButton#toolButtonApp {
    background-color: #76d4dd;
}

QToolButton#toolButtonFriends:hover,
QToolButton#toolButtonGroup:hover,
QToolButton#toolButtonSession:hover,
QToolButton#toolButtonApp:hover {
    background-color: #0da2af;
}

QPushButton#btnConfig, QToolButton#btnAddFriend,
QToolButton#btnWeather,QToolButton#btnCalendar {
    background-color: #0da2af;
} */

QToolButton {
    border: none;
}

QToolButton:hover {
    background-color: #186378;
    background-color: #a0a3a3;
}